html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #fff;
}

/* Globalds for CSS */
:root {
  --green-color: #08ad76;
  --black-color: #203040;
  --sky-color: #c5cee0;
  --open-sky-color: #e4e9f2;
  --white-color: #f6f6f4;
} 
#root {
  height: 100%;
}
.row {
  margin: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.start {
  align-items: flex-start;
}
.row.column {
  flex-direction: column;
}

.rownavbar {
  color: black;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.rowcart {
  margin-top: 40px;
}
.wmax {
  width: 100%;
}
.wnormal {
  width: 80%;
}
.wmin {
  width: 60%;
}
header {
  height: 12vh;
  color: black;
}
main {
  grid-area: main;
}

a {
  text-decoration: none;
}
h2 {
  font-weight: bold;
  font-size: 25px;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
i {
  color: black;
}
li {
  list-style: none;
  margin-top: 1rem;
}

textarea {
  /* padding: 1rem; */
  border-radius: 0.5rem;
  font-size: 1.6rem;
}
input,
button {
  background-color: #f8f8f8;
  padding: 10px;
  border: none;
  outline: none;
}
button {
  cursor: pointer;
}

select {
  border: none;
  outline: none;
  font-weight: bold;
}
/* Payment-- */
.formpayment {
  width: 60%;
  margin: auto;
  padding-top: 50px;
}
.formpayment > div {
  display: flex;
}
.form {
  width: 60%;
  margin: auto;
  background-color: none;
}

.formpayment button {
  width: 100%;
}

.form input {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.clipspan {
  padding: 10px;
  color: white;
  background: var(--green-color);
  clip-path: polygon(100% 28%, 100% 72%, 0 89%, 0 11%);
  border-radius: 10px;
  font-weight: bolder;
}

.cardimgdiv img {
  width: 200px;
  height: auto;
}
.paymenttitle {
  font-size: 40px;
}
.methodtitle {
  font-size: 45px;
}
input[type="radio"] {
  width: 30px;
  height: 30px;
  margin-top: 20px;
  padding: 0;
}
.paymentdiv label {
  font-size: 40px;
}

.greenlink {
  color: var(--green-color);
}
.sizeselect select {
  width: 100px;
  padding: 10px;
}

.greenbtn {
  background-color: #08ad76;
  color: white;
  margin-bottom: 20px;
}
.homebtn {
  margin-top: 15px;
}
.delbtn {
  background-color: red;
  color: white;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* Header */
header a {
  color: black;
  padding: 1rem;
}
a.brand {
  color: black;
  font-size: 3rem;
  font-weight: bold;
}

a.brandfooter {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
.badge {
  position: absolute;
  top: 2%;
  margin-left: 20px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: var(--green-color);
  color: #ffffff;
  font-size: 1.2rem;
}

/* Mobile structure for responsive */
.mobilesearch {
  display: none;
}

.searchbtn {
  display: none;
  cursor: pointer;
}
.mobilesearchmenu {
  display: none;
}
.mainmobilemenu {
  display: none;
}
.hamburgermenu {
  display: none;
  cursor: pointer;
}

.desktopmenu {
  width: 30%;
  color: black;
}

.desktopmenu i {
  font-size: 40px;
}

.shippingadress {
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 30%;
  overflow: scroll;
  height: 90vh;
  margin: auto;
  text-align: left;
  margin-top: 0px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.shippingdiv {
  float: left;
}

.shippingdiv label {
  margin-top: 0px;
  text-align: left;
}

.shippingdiv input,
textarea {
  border: 1px solid var(--green-color);
  background-color: white;
  outline: none;
  border-radius: 0px;
  margin-top: 0px;
}

.shippingadress input,
textarea {
  width: 100%;
  padding: 5px;
}
.shippingadress.open {
  display: block;
}

.closeshipping {
  position: absolute;
  top: 13%;
  left: 90%;
  cursor: pointer;
  font-size: 30px;
  color: var(--green-color);
}

.reactselect {
  width: 100%;
  background-color: red;
}

.reactselect option {
  width: 300px;
}

.loginimg {
  width: 50%;
  height: 15%;
}

.col-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.ordersection {
  width: 30%;
  border: 1px solid black;
}

.col-1 {
  width: 40%;
}

.col1 {
  flex: 1 1 25rem;
}
.col-3 {
  flex: 32 1 75rem;
}

.p-1 {
  padding: 1rem;
}

button.open-sidebar:hover {
  border-color: #ffffff;
}

button.close-sidebar {
  padding: 0.3rem 0.8rem;
}

/* Image */
img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 100%;
}

hr {
  padding: 6px;
}

/* Card */

.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}

/* Search Screen */
.result {
  font-size: 30px;
  font-weight: bold;
}
.fdisplay {
  display: none;
}

/* Form */

.formshipping {
  width: 90%;
  margin: 0 auto;
}

.loginform {
  width: 50%;
}

.populartitle {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-top: 25px;
}

.formreview {
  width: 100%;
  margin: 0 auto;
}
.formreview > div {
  display: flex;
  flex-direction: column;
}
.formreview label {
  margin: 1rem 0;
}
.form > div {
  display: flex;
  flex-direction: column;
}
.form label {
  margin: 1rem 0;
}

.loginform > div {
  display: flex;
  flex-direction: column;
}
.loginform label {
  margin: 1rem 0;
}

.formshipping > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.formshipping label {
  text-align: left;
  margin: 0.5rem 0;
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 15rem;
  padding: 1rem;
  padding-top: 0px;
  z-index: 1;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0;
  margin-top: -20px;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  font-size: 10px;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #08ad76;
  color: #08ad76;
  font-weight: bolder;
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}
/* Carousel */
.carousel .slide img {
  max-width: 30rem;
}

/* Search */
.searchdiv {
  display: flex;
  height: 40px;
  width: 500px;
  border-radius: 20px;
  background-color: white;
  border: 3px solid var(--green-color);
}
.search button {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  font-size: 16px;
  border-right: none;
  border: none;
  outline: none;
  color: white;
}
.search button i {
  color: var(--green-color);
}
.search input {
  border-radius: 20px;
  border-right: none;
  margin-left: 0.5rem;
  border: none;
  outline: none;
  width: 100%;
}

/* Map */
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}

/*  */
/* Pagination */
.pagination {
  margin-top: 15px;
}

.pagination a {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  color: black;
  font-size: 15px;
  font-weight: bold;
}
.pagination a.active {
  font-weight: bold;
  background-color: var(--green-color);
  color: white;
}

/* Dashboard */

.summary > li {
  border: 0.1rem #c0c0c0 solid;
  margin: 2rem;
  border-radius: 0.5rem;
  flex: 1 1 20rem;
}
.summary-title {
  font-size: 2rem;
  padding: 1rem;
}
.summary-body {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

.summary-title.color1 {
  background-color: #a2fa7f;
  color: white;
}
.summary-title.color2 {
  background-color: #64e332;
  color: white;
}
.summary-title.color3 {
  background-color: #306e18;
  color: white;
}

/* Box Product Image Design */
.box {
  position: relative;
  min-width: 300px;
  height: 100%;
  width: 100%;
  margin-top: 10px;
}
.boximg {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white-color);
  max-width: 300px;
  width: 100%;
  height: 350px;
  transition: all 0.5s ease-in-out;
}
.boximg img {
  width: 100%;
  height: 100%;
  max-height: 350px;
  object-fit: cover;
}

.boximg:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.footer {
  margin-top: 5px;
}
.footer h3 {
  font-size: 15px;
  font-weight: bold;
}

.subimglink {
  position: absolute;
  bottom: 10%;
  left: 50%;
  padding: 10px;
  transform: translateX(-50%);
  color: white;
  background: #08ad76;
}

/* Prodcucts Screeen */

.boxmain {
  width: 300px;
  height: 100%;
  margin-top: 10px;
}
.boxmain .boximg {
  background: var(--white-color);
  max-width: 300px;
  width: 100%;
  height: 350px;
  transition: all 0.5s ease-in-out;
}
.boxmain .boximg img {
  width: 100%;
  height: 100%;
  max-height: 350px;
  object-fit: cover;
}

.boxmain .boximg:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.boxmain .footer {
  margin-top: 5px;
}
.boxmain .footer h3 {
  margin-top: 5px;
}

.appsearch {
  display: none;
}

.mobilecomponent {
  display: none;
}

/* Mobile */

@media (max-width: 756px) {
  ::-webkit-scrollbar {
    display: none;
    overflow: hidden;
  }

  .row {
    justify-content: center;
  }

  .closeshipping {
    position: absolute;
    top: 15%;
    left: 83%;
    cursor: pointer;
    font-size: 20px;
    color: var(--green-color);
  }

  .homeproducts {
    width: 97%;
  }

  .appsearch {
    display: block;
  }

  header {
    height: 8vh;
    color: black;
  }
  .signinscreen {
    width: 90%;
  }

  .shippingadress {
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
    justify-content: center;
    width: 95%;
    overflow: scroll;
    height: 80vh;
    margin: auto;
    margin-top: 0px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  /* Mobile Menu */

  .mobilesearchmenu {
    display: none;
    width: 100%;
    margin-top: 100px;
    z-index: 100;
  }

  .mainmobilemenu {
    width: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    z-index: 500;
    position: absolute;
    top: 0%;
    padding-top: 2rem;
    color: black;
    padding-bottom: 2rem;
  }

  .mobilesearchmenu.opensearch {
    display: block;
  }

  .mainmobilemenu.open {
    display: block;
  }
  .hamburgermenu.open .mainmobilemenu {
    display: block;
  }

  .searchbtn.opensearch .mobilesearchmenu {
    display: block;
  }

  .mobileresponsive {
    width: 95%;
  }

  .mobilecross {
    cursor: pointer;
    font-size: 2rem;
    color: black;
  }

  .mobiledropdowncontent li {
    display: flex;
    flex-direction: column;
  }

  .desktopmenu {
    display: none;
  }
  .search {
    display: none;
  }
  .searchbtn {
    position: absolute;
    top: 2.6%;
    right: 40px;
    color: black;
    font-size: 2.5rem;
    display: block;
    cursor: pointer;
  }
  .filtertitle {
    font-size: 15px;
  }
  .hamburgermenu {
    position: absolute;
    right: 13px;
    color: black;
    font-size: 2.5rem;
    display: block;
    cursor: pointer;
  }
  .appsearch {
    text-align: center;
  }

  .searchmobile {
    width: 97%;
    margin: auto;
    text-align: center;
  }

  .searchbtndiv {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .searchmobile i {
    color: black;
  }
  .searchmobile h2 {
    color: white;
  }
  .searchmobilediv {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    border: 1px solid green;
    background-color: white;
  }
  .searchmobilediv input {
    background-color: white;
    border-radius: 0px;
    border: none;
    outline: none;
    color: black;
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 35px;
    font-size: 20px;
  }
  .searchscreenrow {
    width: 97%;
    margin: auto;
    margin-top: 10px;
  }
  .ratingnum {
    display: none;
  }
  a.brand {
    color: black;
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .boxmain {
    width: 100%;
    max-width: 180px;
    height: 100%;
    margin-top: 10px;
  }
  .mobilesearch {
    display: block;
  }

  .boxmain .boximg {
    background: var(--white-color);
    width: 100%;
    height: 220px;
  }
  .boxmain .boximg img {
    width: 100%;
    height: 100%;
    max-height: 350px;
    object-fit: cover;
  }
  .boxmain .footer {
    margin-top: 5px;
  }

  /* Home Products */
  .box {
    min-width: 280px;
    height: 100%;
    width: 100%;
    margin-top: 10px;
  }
  .boximg {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white-color);
    max-width: 300px;
    width: 100%;
    height: 350px;
  }
  .boximg img {
    width: 100%;
    height: 100%;
    max-height: 350px;
    object-fit: cover;
  }
  .footer {
    margin-top: 5px;
  }
  .footer h3 {
    font-size: 15px;
    font-weight: bold;
  }
}
@media (max-width: 756px) {
  .dropdown {
    display: inline-block;
    position: relative;
    font-size: 10px;
  }
  .dropdown-content {
    position: absolute;
    display: none;
    right: 0;
    font-size: 10px;
    min-width: 11rem;
    padding: 8px;
    z-index: 1;
    background-color: #203040;
    margin: 0;
    margin-top: 0.4rem;
    border-radius: 0.5rem;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .badge {
    position: absolute;
    top: 10%;
    margin-left: 4px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
  }
  .form {
    width: 90%;
  }

  .populartitle {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .loginform {
    width: 100%;
  }

  .loginform input {
    background-color: none;
  }

  .result {
    font-size: 16px;
  }
  .fdisplay {
    width: 97%;
    margin: auto;
    background-color: var(--green-color);
    text-align: center;
    display: block;
    cursor: pointer;
  }
  .filtertitle {
    font-size: 15px;
    font-weight: 1500;
    color: var(--green-color);
  }
  .filtersection {
    width: 97%;
    margin: auto;
    display: none;
    transition: 3s all ease;
  }
  .filtersection.showfilter {
    margin-left: 8px;
    display: block;
    transition: 3s ease all;
  }
}

@media (max-width: 756px) {
  .rowcart {
    width: 100%;
    flex-direction: column;
  }
  .col-2 {
    width: 100%;
  }
  .ordersection {
    width: 100%;
    margin: auto;
    margin-top: 20px;
  }

  .loginimg {
    margin-top: 50px;
    width: 90%;
    height: 15%;
  }
}
